@import url(https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Indie+Flower&display=swap);

body,
html {
    background-color: #fff;
    color: #636b6f;
    font-family: Nunito, sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0
}

.full-height {
    height: 80vh
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center
}

.content {
    text-align: center;
    min-width: 30vw
}

.title {
    font-size: 6em
}

.subtitle {
    font-size: 2em
}

.m-b-md {
    margin-bottom: 30px
}

.form-group {
    margin-bottom: 15px
}

.btn-block {
    display: block;
    width: 100%
}

.btn-primary {
    background: linear-gradient(.25turn, #ffbc50, #aa31bd);
    border: transparent;
    cursor: pointer;
    color: #fff;
    animation: fadeInAnimation 1s ease-in-out
}

.inputStyle {
    background-color: rgb(0, 0, 0, 0);
    border-image: repeating-linear-gradient(.25turn, #ffbc50, #aa31bd) 10;
    color: #c9cbc5;
    animation: fadeInAnimation 1s ease-in-out
}

.txt-rotate>.wrap {
    border-right: .08em solid #666
}

.mfc-title-center {
    padding-bottom: 30px;
    padding-top: 40px
}

@media (max-width:767.98px) {
    .content {
        width: auto
    }
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 48.5vh;
    display: flex;
    background: rgba(167, 167, 167, .9);
    text-align: center;
    z-index: 99
}

.mask>p {
    font-family: Nunito, sans-serif;
    font-size: 1.75em;
    color: #347fc3;
    font-family: helvetica, sans-serif;
    font-weight: 700
}

/*Buttons*/
body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5)
}

.cover-container {
    max-width: 42em
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent
}

.nav-masthead .nav-link:focus,
.nav-masthead .nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, .25)
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: rgba(255, 255, 0)
}